## Machine Learning Model: Neural Network

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

# Python SQL toolkit and Object Relational Mapper dependencies.
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
import psycopg2

from config import db_password

import warnings
warnings.filterwarnings('ignore')

### Loading data

In [2]:
# Create DB connection string for local server.
db_string = f"postgresql+psycopg2://postgres:{db_password}@127.0.0.1:5432/insurance_fraud_db"

# Function to connect to SQLite database
engine = create_engine(db_string)

connection = engine.connect()

# Database query to extract data
result = connection.execute("select * from insurance_claims")

# Save query results as DataFrame and set index to policy number
insurance_df = pd.DataFrame(result, columns=['months_as_customer', 'age', 'policy_number', 'policy_bind_date',
                                            'policy_state', 'policy_csl', 'policy_deductable', 'policy_annual_premium',
                                            'umbrella_limit', 'insured_zip', 'insured_sex', 'insured_education_level',
                                            'insured_occupation', 'insured_hobbies', 'insured_relationship',
                                            'capital_gains', 'capital_loss', 'incident_date', 'incident_type',
                                            'collision_type', 'incident_severity', 'authorities_contacted',
                                            'incident_state', 'incident_city', 'incident_location',
                                            'incident_hour_of_the_day', 'number_of_vehicles_involved',
                                            'property_damage', 'bodily_injuries', 'witnesses', 'police_report_available',
                                            'total_claim_amount', 'injury_claim', 'property_claim', 'vehicle_claim',
                                            'auto_make', 'auto_model', 'auto_year', 'fraud_reported'])
insurance_df.set_index(insurance_df['policy_number'], inplace=True)
insurance_df.head()

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported
policy_number,,,,,,,,,,,,,,,,,,,,,
521585,328,48,521585,2014-10-17,OH,250/500,1000,1406.91,0,466132,...,2,YES,71610,6510,13020,52080,Saab,92x,2004,Y
342868,228,42,342868,2006-06-27,IN,250/500,2000,1197.22,5000000,468176,...,0,0,5070,780,780,3510,Mercedes,E400,2007,Y
687698,134,29,687698,2000-09-06,OH,100/300,2000,1413.14,5000000,430632,...,3,NO,34650,7700,3850,23100,Dodge,RAM,2007,N
227811,256,41,227811,1990-05-25,IL,250/500,2000,1415.74,6000000,608117,...,2,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y
367455,228,44,367455,2014-06-06,IL,500/1000,1000,1583.91,6000000,610706,...,1,NO,6500,1300,650,4550,Accura,RSX,2009,N

### Preprocess the dataset

### Convert categorical variables with OneHotEncoding

In [ ]:
# Generate our categorical variable lists
<variable_cat> = <df_name>.dtypes[<df_name>.dtypes == "object"].index.tolist()

In [ ]:
# Check the number of unique values in each column
<df_name>[<variable_cat>].nunique()

In [ ]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(<df_name>[<variable_cat>]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names_out(<variable_cat>)
encode_df.head()

In [ ]:
# Merge one-hot encoded features and drop the originals
<df_name> = <df_name>.merge(encode_df,left_index=True,right_index=True)
<df_name> = <df_name>.drop(<variable_cat>,1)
<df_name>.head()

### Split and scale data

In [ ]:
# Split our preprocessed data into our features and target arrays
y = <df_name>["<target array column>"].values
X = <df_name>.drop(["<target array column>"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [ ]:
# Creating StandardScaler instance
scaler = StandardScaler()

# Fitting Standard Scaller
X_scaler = scaler.fit(X_train)

# Scaling data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

### Compile, Train and Evaluate the Model

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

In [ ]:
# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Define the checkpoint path and filenames
os.makedirs("checkpoints/",exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

In [ ]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Create a callback that saves the model's weights every x epochs
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_freq=<"number_input_features * x epochs">)

In [ ]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

In [ ]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100, callbacks=[cp_callback])

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")